[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = ">=2.5"
sentry-sdk = ">=1.0"
pytest = "*"

[requires]
python_version = ">=3.8"

[dev-packages]
city-scrapers-sentry = {file = ".", editable = true}
build = "*"
twine = "*"
black = "*"

[scripts]
black = "black ."
build = "sh scripts/build.sh"
deploy = "sh scripts/deploy.sh"
